.topBarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topBarLogo img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBarChoices {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.topBarMobile {
    display: none;
}