.topBarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topBarLogo img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBarChoices {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.topBarMobile {
    display: none;
}

    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    line-height: 1.4;
    background-color: #ffffff;
    padding: 30.5px 37.5px;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    right: 0;
    bottom: 0;