.home {
    position: relative;
    margin: var(--marginValue)
}

.topBar {
    position: absolute;
    bottom: 10px;
    left: 7.65rem;
    right: 0;
    background-color: #cbd3e2;
    right: 0;
    background-color: #cbd3e2;
}