.home {
    position: relative;
    margin: var(--marginValue)
}

.topBar {
    position: absolute;
    left: 7.65rem;
    top: -8px;
    right: 0;
    background: #d5dcebbd;
    right: 0;
    padding: 2rem 4rem;
    z-index: 2;
}

.Body {
    position: absolute;
    left: 11.5rem;
    top: 12rem;
    right: 0;
    padding: 0 3.5rem 0 0;
}