@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
    --background: linear-gradient(180deg, #20bbff 0%, #0e85ff 100%);
    --shadow: 0 8px 18px 10px rgba(0, 0, 0, 0.02);
    --successGreen: #cbf3dc;
    --successGreenBorder: #97e6b8;
    --successGreenFont: #2ecc71;
    --marginValue: 0 12%;
    --backgroundColor: #2892FF;


}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 98vh;
}